body {
	font-family: Helvetica, Arial, sans-serif;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}

@media (max-width: 600px) {
  body {
    width: 100%;
  }
}

hr {
    height: 1px !important;
    margin: 2em auto;
    width: 80%;
    background-color: lightgray;
    border: none;
    border-radius: 2px;
}

#disclaimer {
    border: 2px solid red;
    border-radius: 16px;
    padding: 0 1em;
}
